DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'linkupdb',
        'USER': 'root',
        'PASSWORD': '',
        'HOST': 'localhost',
        'PORT': '3306',
    }
}

URL_HOST = 'http://127.0.0.1:8000/'
WEB_HOST = 'http://127.0.0.1:9000/'
REDIS_PORT = '6379'


# CONFIG_LOCAL
CONFIG_ENVIROMENT = {
    "apiKey": "AIzaSyDFLaQvnBi43cAYnbbIJYM5d8HhjlWuMFw",
    "authDomain": "linkup-local.firebaseapp.com",
    "databaseURL": "https://linkup-local.firebaseio.com",
    "projectId": "linkup-local",
    "storageBucket": "linkup-local.appspot.com",
    "messagingSenderId": "901859853311"
}


LOGGER_CONFIG = {
   'files': {
       'test1': 'test1.log',
       'test2': 'test2.log',
       'test3': 'test3.log',
       'test4': 'test4.log',
       'api.views.actors': 'actors.log',
       'api.pyrebase': 'pyrebase.log',
       'error-dev': 'error-dev.log'
   },
   'log_foler': 'logs_dev',
   'rotate_time': 'midnight',
   'log_level': 10,
   'log_count': 20,
   'log_maxsize': 1048576,
   'log_mode': 'a',
   'log_format': '%(asctime)s - %(levelname)s - %(module)s.%(funcName)s - %(message)s'
}

##Tamanio del log en bytes
#1048576 = 1MB
#2097152 = 2MB
#5242880 = 5MB

##niveles de traza para log_level
# CRITICAL = 50
# ERROR = 40
# WARNING = 30
# INFO = 20
# DEBUG = 10
# NOTSET = 0

# variable  de depuracion de firebase
DEBUG_FIREBASE = False

# variable para realizar comprovacion externa token
TOKEN_RUC = "3d45b064-1b4b-4e76-9d69-d3a049780dd2-ac0ff454-75f8-45ee-83f0-033cb554e05f"